<!DOCTYPE html>
<html>
<head>
	<head>
	<meta charset="utf-8"/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<title>All Maskapai</title>
</head>
<body>
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">List All Maskapai</h4>
			<br/>
			<a th:href="@{/maskapaiAdmin}">
				<button class="btn btn-primary btn-block">Tambah Maskapai</button>
			</a>
			<br/><br/>
			<table border ="1" cellpadding ="10"]>
				<thead>
					<tr>
						<th>No </th>
						<th>Nama </th>
						<th>Lokasi </th>	
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="maskapai : ${listMaskapai}">
						<td th:text="${maskapai.noMaskapai}">No </td>
						<td th:text="${maskapai.namaMaskapai}">Nama </td>
						<td th:text="${maskapai.lokasiMaskapai}">Lokasi </td>
						<td>
							<a th:href="@{/edit/{id}(id=${maskapai.noMaskapai})}">Edit</a>
							<br/>
							<a th:href="@{/delete/{id}(id=${maskapai.noMaskapai})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</article>
	</div> 

</body>
</html>