<!DOCTYPE html>
<html>
<head>
	<head>
	<meta charset="utf-8"/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<title>All Penerbangan</title>
</head>
<body>
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 1300px;">
			<h4 class="card-title mt-3 text-center">List All Penerbangan</h4>
			<br/>
			<a th:href="@{/penerbanganAdmin}">
				<button class="btn btn-primary btn-block">Tambah Penerbangan</button>
			</a>
			<br/><br/>
			<table border ="1" cellpadding ="10"]>
				<thead>
					<tr>
						<th>No. Penerbangan </th>
						<th>No. Maskapai </th>
						<th>Asal</th>
						<th>Tujuan</th>
						<th>Berangkat</th>
						<th>Sampai</th>
						<th>Harga</th>	
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="penerbangan : ${listPenerbangan}">
						<td th:text="${penerbangan.penerbanganid}">No </td>
						<td th:text="${penerbangan.maskapai}">No </td>
						<td th:text="${penerbangan.asal}">Asal</td>
						<td th:text="${penerbangan.tujuan}">Tujuan</td>
						<td th:text="${penerbangan.berangkat}">Berangkat</td>
						<td th:text="${penerbangan.sampai}">Sampai</td>
						<td th:text="${penerbangan.harga}">Harga</td>
						<td>
							<a th:href="@{/editpenerbangan/{id}(id=${penerbangan.penerbanganid})}">Edit</a>
							<br/>
							<a th:href="@{/deletepenerbangan/{id}(id=${penerbangan.penerbanganid})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</article>
	</div> 

</body>
</html>