<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->
		<link rel="stylesheet"	href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	</head>
	<body>
		<div class="card bg-light">
			<article class="card-body mx-auto" style="max-width: 400px;">
				<h4 class="card-title mt-3 text-center">Menu Admin</h4>
			
					<table class="form-group input-group">
						<tr>
							<td>
								<a th:href="@{/allMaskapai}">
									<button class="btn btn-primary btn-block">List Maskapai</button>
								</a>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>
								<a th:href="@{/allPenerbangan}">
									<button class="btn btn-primary btn-block">List Jadwal Penerbangan</button>
								</a>
							</td>
						</tr>
					</table>
		
				<a th:href="@{/logout/{un}(un=${user.username})}">
					<button class="btn btn-primary btn-block">Logout</button>
				</a>
			</article>
		</div> <!-- card.// -->
	</body>
</html>