<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
	<div class="card bg-light">
				<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Edit Penerbangan</h4>
			<form action="#" th:action="@{/savepenerbangan}" th:object="${penerbangan}" method="post">
			
				<select class="form-control" name="dropMaskapai" id="dropMaskapai" th:field="*{maskapai}">
					<option value="0"> Pilih Maskapai</option>
					<option th:each="maskapais : ${maskapai}" th:value="${maskapais.noMaskapai}" th:text="${maskapais.namaMaskapai}"></option>
				</select>
				<br/>
				<input name="asal" class="form-control" placeholder="Asal" type="text" th:field="*{asal}">
				<br/>
				<input name="tujuan" class="form-control" placeholder="Tujuan" type="text" th:field="*{tujuan}">
				<br/>
				<input name="berangkat" class="form-control" placeholder="Berangkat" type="date" th:field="*{berangkat}">
				<br/>
				<input name="sampai" class="form-control" placeholder="Sampai" type="date" th:field="*{sampai}">
				<br/>
				<input name="harga" class="form-control" placeholder="Harga" type="text" th:field="*{harga}">
				<br/>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> Update </button>
				</div> 
			</form>
		</article>
	</div> 
</body>
</html>